doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="stylesheet",type="text/css",media="screen",href="css/readymade.css")
    link(href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed',rel='stylesheet',type='text/css')

  body
    a(href="https://github.com/poulejapon/readymade")
      img(style="position: absolute; top: 0; right: 0; border: 0;",src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png",alt="Fork me on GitHub")
    div#content
      img(src="img/readymade.png",id="logo")
      != data
    script(type="text/javascript")
        var _gaq = _gaq || [];
        _gaq.push(["_setAccount", "UA-33327737-1"]);
        _gaq.push(["_trackPageview"]);
        (function() {
        var ga = document.createElement("script");
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = 'http://www.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
