doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="stylesheet",type="text/css",media="screen",href="css/readymade.css")
    link(href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed',rel='stylesheet',type='text/css')

  body
    div#content
      img(src="img/readymade.png",id="logo")
      != data
